
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 hidden-xs">Col 1</div>
        <div class="col-md-3 hidden-xs">Col 2</div>
        <div class="col-md-3 hidden-xs">Col 3</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6"><input type="text" placeholder="Basic Textbox"></div>
        <div class="col-md-3 col-sm-6"><input type="text" placeholder="Basic Textbox"></div>
        <div class="col-md-3 col-sm-6"><input type="text" placeholder="Basic Textbox"></div>
        <div class="col-md-3 col-sm-6"><input type="text" placeholder="Basic Textbox"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 col-sm-6"><input type="text" class="form-control" placeholder="Basic Textbox"></div>
        <div class="col-md-3 col-sm-6"><input type="text" class="form-control" placeholder="Basic Textbox"></div>
        <div class="col-md-3 col-sm-6"><input type="text" class="form-control" placeholder="Basic Textbox"></div>
        <div class="col-md-3 col-sm-6"><input type="text" class="form-control" placeholder="Basic Textbox"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label>Label</label>
                <input type="text" class="form-control input-lg" placeholder="Basic Textbox" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label>Label</label>
                <input type="text" class="form-control input-lg" placeholder="Basic Textbox" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label>Label</label>
                <input type="text" class="form-control input-lg" placeholder="Basic Textbox" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <label>Label</label>
                <input type="text" class="form-control input-lg" placeholder="Basic Textbox" />
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <!-- Standard button -->
            <button type="button" class="btn btn-default">Default</button>

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary">Primary</button>

            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-success">Success</button>

            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Info</button>

            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>

            <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" class="btn btn-danger">Danger</button>
        </div>
    </div>
</div>