
@{
    ViewBag.Title = "House";
}

<h2>House</h2>

@{
    int i = 1;
}

<div class="row">
    <a href="@Url.Action("Create","House")" class="btn btn-success pull-right"><li class="fa fa-plus"></li> Add Data</a>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>House No</th>
                <th>Area</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in ViewBag.H)
            {
                <tr>
                    <th>@(i++)</th>
                    <td>@a.HouseNo</td>
                    <td>@a.Area</td>
                    <td><a href="#" class="btn btn-danger" onclick=""><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="#" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                </tr>
            }


        </tbody>
    </table>
</div>


